.bounce {
  animation: bounce 2.58s infinite;
}

@keyframes bounce {
  0% {
    transform: translate(0, 3.5vw);
    animation-timing-function: ease-in;
  }
  35% {
    transform: translate(0, 31vw);
    animation-timing-function: ease-out;
  }
  51% {
    transform: translate(0, 13vw);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translate(0, 31vw);
    animation-timing-function: ease-out;
  }
  75% {
    transform: translate(0, 20vw);
    animation-timing-function: ease-in;
  }
  86% {
    transform: translate(0, 31vw);
    animation-timing-function: ease-out;
  }
  92% {
    transform: translate(0, 26vw);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translate(0, 31vw);
    animation-timing-function: ease-out;
  }
}

.moveright {
  animation: moveright 2.58s linear infinite;
}

@keyframes moveright {
  0% {
    transform: translate(0vw, 0);
  }
  35% {
    transform: translate(14vw, 0);
  }
  51% {
    transform: translate(22vw, 0);
  }
  65% {
    transform: translate(29vw, 0);
  }
  75% {
    transform: translate(34vw, 0);
  }
  86% {
    transform: translate(39vw, 0);
  }
  92% {
    transform: translate(43vw, 0);
  }
  100% {
    transform: translate(46vw, 0);
  }
}
